[Unit]
Description=Touchpad Toggle Key Listener
After=systemd-logind.service

[Service]
ExecStart=/usr/bin/touchpad-key-listener
Restart=always
RestartSec=2

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
NoNewPrivileges=yes
ReadWritePaths=/var/lock /run/user
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
